<h1 class="mb-1 restaurant-show-title">編輯餐廳</h1>
<form action="/restaurants/{{restaurantData._id}}/edit?_method=PUT" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-store pr-2"></i>
            店名：
          </span>
          <input class="form-control" type="text" placeholder="name" name="name" value="{{restaurantData.name}}"
            style="width:250px">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-store pr-2"></i>
            英文店名(非必填)：
          </span>
          <input class="form-control" type="text" placeholder="name_en" name="name_en" value="{{restaurantData.name_en}}"
            style="width:250px">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <div class="form-floating">
            <select class="form-select" name="category" aria-label="Floating label select">
              <option selected>{{ restaurantData.category }}</option>
              <option value="中東料理">中東料理</option>
              <option value="日本料理">日本料理</option>
              <option value="美式">美式餐廳</option>
              <option value="義式">義式餐廳</option>
              <option value="越式">越式料理</option>
              <option value="酒吧">酒吧</option>
              <option value="咖啡廳">咖啡廳</option>
            </select>
            <label for="floatingSelect">選擇餐廳類別</label>
          </div>
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-star pr-2"></i>
            評等：
          </span>
          <input type="range" class="form-range" min="0" max="5" step="0.1" style="width:30% ; height:0.5em" name="rating"value="{{restaurantData.rating}}"oninput="this.nextElementSibling.value = this.value">
          <output>{{restaurantData.rating}}</output>
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input class="form-control" type="text" placeholder="location" name="location"
            value="{{restaurantData.location}}">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            Google-Map：
          </span>
          <input class="form-control" type="text" placeholder="google_map" name="google_map"
            value="{{restaurantData.google_map}}">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input class="form-control" type="text" placeholder="phone" name="phone" value="{{restaurantData.phone}}">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-comment pr-2"></i>
            描述：
          </span>
          <textarea class="form-control" placeholder="description" name="description" rows="3" cols="50">{{ restaurantData.description }}</textarea>
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-image pr-2"></i>
            圖片：
          </span>
          <input class="form-control" type="text" placeholder="image" name="image" size="50"
            value="{{restaurantData.image}}">
        </p>
        <button type="submit" class="btn btn-primary">儲存</button>
        <a href="/" class="btn btn-dark">返回</a>
      </div>
    </div>
  </div>
</form>